.PickHeroes {
  .Hero {
    margin: 1em 0;
    font-size: 1em;

    label {
      margin-left: 0.5em;
    }

    input {
      width: 1em;
      height: 1em;

      &:disabled ~ label {
        color: #506c6c;
      }
    }
  }
}
